@import 'variables';

.comments {
	width: 100%;
}

.comments__btn {
	display: flex;
	margin: $space-xl auto;
    padding: $space-sm $space-xl;
	padding: $space-sm;
	font-size: 16px;
	color: #fff;
	background-color: $color-primary-dark;
	transition: opacity 0.2s ease-out;

	&[disabled] {
		opacity: 0.5;
	}
}
