.intro {
	position: absolute;
	z-index: 99999;
}

.intro__header {
	font-family: monospace;
	font-weight: 100;
	font-size: 11vw;
	background: rgba(0, 0, 0, 0.25);
	width: 100vw;
	text-align: center;
	padding: 20px;
}

.intro__type {
	display: inline-block;
	font-size: 3vw;
	text-align: center;
	font-family: monospace;
}

.intro__type-container {
	position: relative;
	bottom: 3.5vh;
	text-align: center;
}