@import 'variables';

.intro {
	position: absolute;
	z-index: 1000;
	color: #fff;
}

.intro__header {
	margin: 0;
	padding: 0;
	width: 100vw;
	font-family: monospace;
	font-size: 18vw;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.85);
}

.intro__type {
	display: inline-block;
	color: #fff;
	font-family: monospace;
	font-size: 3vw;
	text-align: center;
}

.intro__type-container {
	position: relative;
	bottom: -1vh;
	text-align: center;
}
