@import 'media';
@import 'variables';

html {
	box-sizing: border-box;
}

* {
	box-sizing: inherit;

	&:before,
	&:after {
		box-sizing: inherit;
	}
}

body {
	margin: 0;
}

.layout__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 116px);
	margin: 0 auto;
	max-width: $container-max-width;
	padding: 0 $space-md 0;

	@include media('sm') {
		min-height: calc(100vh - 130px);
	}
}
