@import 'media'; 

.particles {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;	
	background: lightblue;
	width: 100%;
	height: calc(100vh - 116px);
	margin-top: 57px;

	@include media('sm') {
		margin-top: 64px;
	}
}
